{% extends 'base.html.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" href="{{ style }}">
{% endblock %}



{% block top_menu %}
	{% include "/pages/menu.html.twig" %}
{% endblock %}



{% block body %}


	<h3>{{ title }}</h3>
	<hr>
	{{ content|raw }}
	

{% endblock %}




{% block javascripts %}
{% endblock %}

