<div class="container-fluid top-baner shadowin" style="overflow: hidden; ">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
			</div>
			<div class="col-sm-5">
				<div class="card text-light ohcontainer">
				    <div class="card-body text-center" style="padding: 0 0 8px 0; font-size: 11pt;">

				    	<span style="font-family: 'Caveat', cursive; font-size: 24pt; display: block; margin: 0; padding: 0; white-space:nowrap;">Zapraszamy!</span><br>

				    	Godziny otwarcia:
				    	<table style="margin-top: 7px; min-width: 70%">
				    		<tr>
				    			<td>Pn - Pt:</td>
				    			<td>7:00 - 16:00</td>
				    		</tr>
				    		<tr>
				    			<td>Sob:</td>
				    			<td>7:00 - 14:00</td>
				    		</tr>
				    		<tr>
				    			<td>Nd:</td>
				    			<td><span style="color: #FA754E">Nieczynne</span></td>
				    		</tr>
				    	</table>
				    </div>
				</div>
			</div>
		</div>
	</div>
</div>